FAsT-Match/__pycache__/MatchNet.cpython-39.pyc
~$מפגש ראשון.pptx
FAsT-Match-Cpp/
.idea/.name
.idea/Final-Project.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations/FAsTMatch_Configuration.xml
.idea/vcs.xml
.idea/workspace.xml
